<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>News Analyzer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>News Analyzer</h1>
    <h2>Welcome back, {{ email }}!</h2>
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
      <div class="mb-3">
        <input class="form-control" type="file" id="formFileMultiple" name="files" multiple>
      </div>
      <br>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col">Upload Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if files %}
          {% for filename, upload_time in files %}
            <tr>
              <td>{{ filename }}</td>
              <td>{{ upload_time }}</td>
              <td>
                <a href="{{ url_for('serve_file', filename=filename) }}" class="btn btn-primary me-2">
                  View
                </a>
                <br>
                <a href="{{ url_for('analysis', filename=filename) }}" class="btn btn-secondary">
                  Analysis
                </a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">No files uploaded yet.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <br>
  <form method="POST" action="{{ url_for('search') }}">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search for files..." name="search_query">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>  
{% endblock %}
